.hero-banner{
	position: relative;
 	color: #FFCBB3;
 	overflow: hidden;
 	text-align: center;
 	width: 100%;
 	height: 40vh;
 	margin-bottom: 5vh;
}

.hero-banner img{
	position: absolute;
    width: 160vw;
    margin: auto;
    top: -5vh;
	left: -28vw;
}

.hero-title h1{
	font-size: 5vw;
}

.title-header{
	position: absolute;
	top: 10%;
	left: 39vw;
	z-index: 2;
}

@media only screen and (min-width: 600px) {
	.hero-banner{
		height: 50vh;
		margin-bottom: 5vh;
    }
}

@media only screen and (min-width: 900px) {
	.hero-banner{
		height: 55vh;
	}
	.hero-banner img{
		top: -25%;
	}

}

@media only screen and (min-width: 1100px) {
	.hero-banner{
		height: 65vh;
		margin-bottom: 0;
	}
	.hero-banner img{
		width: 150vw;
		top: -15vh;
		left: -22vw;
    }
}

@media only screen and (min-width: 1300px) {
	.hero-banner{
		height: 75vh;
		margin-bottom: 0;
	}
	.hero-banner img{
		width: 120vw;
		top: -35vh;
		left: -12vw;
    }
}

@media only screen and (min-width: 1600px) {
	.hero-banner{
		height: 75vh;
		margin-bottom: 0;
	}
	.hero-banner img{
		width: 150vw;
		left: -22vw;
    }
}

@media only screen and (min-width: 1900px) {
	.hero-banner{
		height: 75vh;
		margin-bottom: 0;
	}
	.hero-banner img{
		width: 150vw;
		top: -28vh;
		left: -22vw;
	}
}

@media only screen and (min-width: 2000px) {
	.hero-banner{
		height: 80vh;
		margin-bottom: 0;
	}
	.hero-banner img{
		width: 140vw;
		top: -28vh;
		left: -18vw;
	}
}