.navbar {
    width: 100%;
    height: 50px;
    background-color: #191919;   
}

.navbar ul {
    list-style-type: none;
    height: 100%;
    width: 100%;
    align-content: center;
    vertical-align: middle;

}

.navbar ul li {
    display: inline;
    margin-left: 20px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.navbar li a {
    border-radius: 5px;
    text-decoration: none;
    color: white !important;
    font-size: 1.05rem;
    padding: 15px 0px;
}

.navbar li a:hover {
    background-color: rgb(72, 207, 135);
}

.navbar button{
    float:right !important;    
    margin-left: 14px;
    top: 50%;
    -ms-transform: translateY(-5%);
    transform: translateY(-5%);
}

.signup {
    color:white;
    background-color:#FFD100;
}