name: Continuous Integration

on: [pull_request]

jobs: buildAndTest
  name: Build and Test 
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v1

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build
